---
layout: big-head
title: Home
hero-text: The Human Centered Design DeCal
tags:
    - Spring 2023
    - DES INV 98
    - 2 Units • P/NP
buttons:
    - {color: inv-blue, text: Schedule, icon: calendar-week, url: /schedule}
    - {color: inv-blue, text: Syllabus, icon: clipboard, url: /syllabus}
---

<section class="bg-black py-5 text-bg-dark">
    <div class="container-narrow py-5">
        <div class="row align-items-start text-center swag-text mb-5 gy-5">
            <h2 class="lh-1 text-center">Our Human-Centered Design DeCal is an introductory class to design theory and practice, with a focus on human-centered design.</h2>

            <div class="col-6 col-sm-3">
                <h1 class="bi bi-award-fill"></h1>
                <p class="h4">2 Units P/NP</p>
            </div>
            <div class="col-6 col-sm-3">
                <h1 class="bi bi-clock-fill"></h1>
                <p class="h4">Mondays, 7-9 PM</p>
            </div>
            <div class="col-6 col-sm-3">
                <h1 class="bi bi-map-fill"></h1>
                <p class="h4">Jacobs 310</p>
            </div>
            <div class="col-6 col-sm-3">
                <h1 class="bi bi-pass-fill"></h1>
                <p class="h4">Apply by {{ site.app-deadline | date: "%-m/%-d" }}!</p>
            </div>
        </div>

        <hr class="border border-light border-1 opacity-100">

        <div class="my-5">
            <h3 class="lh-2">{{ site.extended-description }} <span class="text-inv-yellow">Apps due {{ site.app-deadline }}.</span></h3>    
        </div>
    </div>
</section>

<section class="py-5 bg-light">
    <div class="container-narrow my-5">
        <h1 class="text-inv-blue"><i class="bi bi-megaphone-fill"></i> About the Course</h1>

        <div class="accordion accordion-flush accordion-home my-4 px-3" id="faqs">
            {% for faq in site.data.faqs %}
              <div class="accordion-item">
                <h3 class="accordion-header" id="head-faq{{ faq.content | size }}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq{{ faq.content | size }}" aria-expanded="false" aria-controls="collapseOne">{{ faq.title }}</button>
                </h3>
                <div class="accordion-collapse collapse" id="faq{{ faq.content | size }}" aria-labelledby="head-faq{{ faq.content | size }}" data-bs-parent="#faqs">
                  <div class="accordion-body fs-sm pe-5 mb-0">{{ faq.content | markdownify }}</div>
                </div>
              </div>
            {% endfor %}
        </div>

        <h1 class="text-primary pt-5 pb-4"><i class="bi bi-people-fill"></i> Course Staff</h1>

        <div class="row gx-5 gy-4">
            {% for person in site.data.staff %}
            <div class="col-6 col-md-4 col-lg-3 text-center">
                <img src="{{ person.image }}" class="ratio ratio-1x1 rounded-circle mt-2 p-2 pl-4"></img>
                <h4 class="card-title pt-2 mt-2 mb-0">{{ person.title }} <small class="fw-normal">{{ person.pronouns }}</small></h4>
                <h5 class="text-primary my-0">{{ person.role }}</h5>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="py-2 py-sm-4 py-md-5 swag-gradient">
    <div class="container-narrow bg-light text-dark rounded-4 p-5 my-4">
        <h1 class="mb-4"><i class="bi bi-lightbulb-fill"></i> About Berkeley Innovation</h1>
        <h4 class="fw-normal">{{ site.about-bi-long }}</h4>
    </div>
</section>
