<section class="sp-vh-100 d-flex align-items-center">
    <div class="container-narrow py-5">
        <div class="mb-1 text-light">
            {% for tag in page.tags %}
                <span class="badge bg-black rounded-3">{{ tag }}</span>
            {% endfor %}
        </div>
        
        <h1 class="display-1 swag-text py-3 lh-1">
            {% if page.hero_text != nil %}
                {{ page.hero_text }}
            {% else %}
                {{ page.title }}
            {% endif %}
        </h1>

        <div class="">
            {% for button in page.buttons %}
                <a class="btn btn-dark mb-1" href="{{ button.url }}">
                    {% if button.icon %}
                        <i class="bi bi-{{ button.icon }}"></i> 
                    {% endif %}
                    {{ button.text }}
                </a>
            {% endfor %}
        </div> 
    </div>
</section>
