<!-- <section class="vh-100 d-flex align-items-center bg-inv-red bg-opacity-10 py-4">
    <div class="container-narrow">
        <div class="mb-3 text-light">
            {% for tag in page.tags %}
                <span class="badge bg-black rounded-3">{{ tag }}</span>
            {% endfor %}
        </div>

        {% if page.icon %}
            <h1 class="bi bi-lightbulb-off-fill display-2"></h1>
        {% endif %}

        <h1 class="display-1 fw-semibold swag-text text-wrap lh-1 pb-3">{{ page.hero-text }}</h1>

        <div class="mb-2">
            {% for button in page.buttons %}
                <a class="btn btn-{{ button.color }} mb-1" href="{{ button.url }}">
                    {% if button.icon %}
                        <i class="bi bi-{{ button.icon }}"></i> 
                    {% endif %}
                    {{ button.text }}
                </a>
            {% endfor %}
        </div> 
    </div>
</section> -->

<section class="sp-vh-100 d-flex align-items-center">
    <div class="container-narrow py-5">
        <div class="mb-1 text-light">
            {% for tag in page.tags %}
                <span class="badge bg-black rounded-3">{{ tag }}</span>
            {% endfor %}
        </div>
        <!-- <p class="display-4 swag-text py-3  lh-1">Our Human-Centered Design DeCal is an introductory class to design theory and practice, with a focus on human-centered design.</p> -->
        
        <p class="display-1 swag-text py-3 lh-1">The Human-Centered Design DeCal</p>

        <div class="">
            {% for button in page.buttons %}
                <a class="btn btn-dark mb-1" href="{{ button.url }}">
                    {% if button.icon %}
                        <i class="bi bi-{{ button.icon }}"></i> 
                    {% endif %}
                    {{ button.text }}
                </a>
            {% endfor %}
        </div> 
    </div>
</section>