<!-- Footer -->
<footer class="page-container-bordered bg-almost-blk">
    <div class="row text-whitey">
        <div class="col-12 col-md-6">
            <p class="fs-3 fw-bold mb-0">human-centered design decal</p>
            <a class="fs-3 mb-0 link-whitey" href="https://berkeleyinnovation.org">by berkeley innovation</a>
        </div>
        <div class="col-12 col-md-6 mt-4 mt-md-0 d-flex justify-content-end align-items-end">
            <a class="fs-3 mb-0 link-whitey" href="https://berkeleyinnovation.org">© Berkeley Innovation 2023</a>
        </div>
    </div>
</footer>