<!-- Main page header -->
<div class="page-container px-3 mt-5 p-sm-4 bg-whitey">
    <h1 class="display-1 mt-5 py-3 lh-1">
        {% if page.hero_text != nil %}
            {{ page.hero_text }}
        {% else %}
            {{ page.title }}
        {% endif %}
    </h1>

    <div class="">
        {% for button in page.buttons %}
            <a class="swag-btn {% if button.full %} btn-almost-blk {% else %} btn-outline {% endif %} mb-2 me-2" href="{{ button.url }}">
                {{ button.text }}
            </a>
        {% endfor %}
    </div> 
</div>