<nav class="navbar navbar-expand-lg navbar-light navigation {% if page.navbar-white %}navigation-white{% endif %} fixed-top align-items-center">
    <div class="container-fluid py-1 py-md-2 align-items-center">
        <img src="{{ site.baseurl }}/assets/hcd_logo.svg" alt="Logo" height="30" class="me-3 d-inline-block">
        <a class="navbar-brand fw-semibold p-0 swag-text-nav" href="/">
            HCD DeCal
        </a>

      <button class="navbar-toggler border-0 swag-text-nav" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-main">
        <i class="bi bi-list h1 text-dark"></i>
      </button>

      <div class="navbar-collapse collapse my-1" id="navbar-main">
        <hr class="d-md-none border-0">
        <ul class="navbar-nav ms-auto">
            {% for item in site.data.navigation %}
                <li class="nav-item nav-pills me-1">
                    {% capture lower-link %}{{ page.url | downcase}}{% endcapture %}

                    {% if (item.url != "/construction") and lower-link contains item.url and ((item.url != "/") or (lower-link == "/")) %}
                        <a class="nav-link active bg-inv-blue text-light px-3 fw-semibold shadow-sm">
                    {% else %}
                        <a class="nav-link text-inv-blue px-3 fw-semibold" href="{{ item.url }}">
                    {% endif %}
                    {{ item.title }} 
                    {% if item.icon %}
                    <i class="bi bi-{{ item.icon }}"></i>
                    {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
      </div>
    </div>
</nav>