<section class="container-narrow mb-5">
    {% for week in site.data.schedule %}
    <div {% if week.current_week == 'true' %}id="current-week"{% endif %} class="border {% if week.current_week == 'true' %}border-inv-yellow{% endif %} rounded-4 mb-4">
        <div class="p-4">
            <div>
                <span class="badge rounded-3 border border-2 border-dark text-dark">Week #{{ week.week_number }}</span>
                {% if week.current_week == 'true' %}
                    <span class="badge rounded-3 border border-2 border-inv-yellow bg-inv-yellow text-bg-inv-yellow">Current Week</span>
                {% endif %}
            </div>
            <h6 class="card-subtitle fw-semibold text-muted mt-2 mb-1">{{ week.meeting_date | date: "%B %e, %Y" }}</h6>
            <h3 class="fw-semibold mt-0 mb-1 {% if week.current_week == 'true' %}swag-text{% endif %}">{{ week.title }}</h3>
            <a href="{{ week.recording }}" class="btn btn-link {% if week.recording == nil %}disabled{% endif %} p-0">Recording</a>
            <a href="{ week.slides }}" class="btn btn-link {% if week.slides == nil %}disabled{% endif %} p-0">Slides</a>

            {% if week.hw_title != nil or week.project_title != nil or week.other_title != nil %}
            <div class="mt-3">
            {% if week.hw_title != nil %}
                <a class="btn btn-sm btn-inv-blue mb-1 {% if week.hw_link == nil %}disabled{% endif %}" href="{{ week.hw_link }}"><i class="bi bi-journal-bookmark"></i> {{ week.hw_title }}</a>
            {% endif %}
            
            {% if week.project_title != nil %}
                <a class="btn btn-sm btn-inv-blue mb-1 {% if week.project_link == nil %}disabled{% endif %}" href="{{ week.project_link }}"><i class="bi bi-gear"></i> {{ week.project_title }}</a>
            {% endif %}

            {% if week.other_title != nil %}
                <a class="btn btn-sm btn-inv-blue mb-1 {% if week.other_link == nil %}disabled{% endif %}" href="{{ week.other_link }}"><i class="bi bi-bookmarks"></i> {{ week.other_title }}</a>
            {% endif %}  
            </div>
            {% endif %}

        </div>
    </div>
    {% endfor %}
</section>