<h1 class="pt-4">Course Instructors</h1>
<div class="row">
        <div class="col-6 mb-3 col-md-4 col-lg-3">
                <div class="card mb-2 border-0">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/2560px-Image_created_with_a_mobile_phone.png" class="ratio ratio-1x1 rounded-3 mt-2"></img>
                        <h5 class="card-title pt-2 mt-2 mb-0">Aditya Mavalankar <small class="fw-normal">(he/him)</small></h5>
                        <h6 class="text-primary my-0">Instructor</h6>
                </div>
        </div>
</div>