div.toc-items ul {
    list-style: none;
    margin-left: 0;
}

.toc-items {
    ul {
        padding-left: 0;
        margin-bottom: 0;
        margin-left: -.75rem;
        list-style: none;
  
        ul {
          padding-left: 1rem;
          margin-left: -1rem;
  
          a {
            padding-left: 1.375rem;
          }
        }
    }
  
    a {
        display: block;
        padding: .125rem 0 .125rem .5rem;
        color: inherit;
        text-decoration: none;

        &:hover {
            color: $primary;
            border-left-color: $pinky;
            font-weight: $font-weight-semibold
        }

        &.active {
            color: $pinky;
            border-left-color: $pinky;
            font-weight: $font-weight-semibold
        }

        code {
            font: inherit;
        }
    }
}

.page-content {

    p strong {
        font-weight: 600;
    }

    hr {
        margin-top: 1.5em;
        margin-bottom: 1.5em;

        @extend .opacity-25;
        @extend .text-secondary;
    }

    .alert {
        margin-bottom: 1.5em;
    }

    table {
        @extend .container-fluid;
        @extend .table;
        overflow-x: auto !important;
        -webkit-overflow-scrolling: touch;    
        display: block;
    }

    tbody {
        @extend .table-group-divider;
        border-top-color: $black;
        border-top-width: 0.25rem !important;
    }

    .article-btn {
        @extend .swag-btn;
        @extend .btn-bluey;
    }

    p.btn a {
        @extend .text-light;
        @extend .text-decoration-none;
    }

    blockquote {
        @extend .bg-bluey;
        @extend .text-light;
        @extend .p-3;
        @extend .border;
        @extend .border-dark;
    }
    
    blockquote p {
        @extend .m-0;
    }
}

.vh-50 {
    height: 50vh;
}

.vh-75 {
    height: 75vh;
}

li p {
    margin-bottom: 0.2rem !important;
}

.sticky-section {
    position: sticky;
    top: 100px;
}