<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    {% include navbar.html %}
    
    {% include header.html %}

    <section class="container-narrow pb-4">
      <div class="row">
        <div class="col-xs-12 col-md-3 order-md-2 mb-4">
          <h5>On This Page</h5>
          <hr class="my-2">
          <div class="toc-items text-secondary">
            {{ content | toc_only }}
          </div>
        </div>

        <div class="col-xs-12 col-md-9 order-md-1 page-content">
          {{ content | inject_anchors }}
        </div>
      </div> 
    </section>

    {% include footer.html %}
  </body>
</html>
